extends /_templates/_layout.pug
block variables
  -
    const title = 'ページタイトル'
    const description = 'ページ概要'
    const styles = ['/assets/css/bundle.css']
    const scripts = ['/assets/js/vendor.js', '/assets/js/bundle.js']
block content
