extends _includes/_layout
block variables
  - const pageId = 'top';
  - const title = 'ページタイトル';
  - const description = 'ページ概要';
  - const styles = ['/assets/css/style.css'];
  - const scripts = ['/assets/js/vendor.js', '/assets/js/bundle.js'];
block content
  main
